body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto",Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #303030;
  font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html, body, #root {
  min-height: 100%;
  height: 100%;
}

html {
  background: #303030;
}

.App {
  max-width: 1346px;
  background: #f5f5f5;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.header {
 background: #303030;
 padding: 1em;
}

.logo {
  color: #f5f5f5;
  font-size: 4em;
}

.logo:before {
  content: "🐨"
}

.main {
  height: 100%;
  display: flex;
  padding: 20px 0 0;
  color: #303030;
}

aside {
  width: 180px;
  padding: 0 1em;
  font-size: 1em;
  font-weight: 500;
}

.headline {
  font-size: 1.5em;
  font-weight: 700;
}
.header-line {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #dadada;
}

article {
  width: 100%;
  padding: 0 30px 30px 20px;
  border-left: 1px solid #dadada;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgb(218, 218, 218);
}

.tag {
  padding: 5px 0 5px 10px;
  border-radius: 5px;
}

.tag:hover {
  color: #e34449;
  cursor: pointer;
  background: #eaeaea
}